@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    opacity: 50%;
    position: fixed;
}

.navigation-bar a {
    padding-left: 25px;
}

.logo,
.navigation-bar a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/pngtree-pink-portfolio-memphis-playful-abstract-picture-image_1347364.jpg) no-repeat;
    background-size: cover;
    color: #ffffff;
}

.main span {
    color: #0066FF;
    font-size: 50px;
}

.social-media a {
    color: #ffffff;
    font-size: 20px;
    padding-left: 25px;
}

.title {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #0066FF;
    width: 340px;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 3em;
    text-align: center;
}

.info h3 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}

.info p {
    text-align: center;
}

.projects {
    color: #ffffff;
    background-color: #000000;
}

.projects h3 {
    margin: 50px;
}

footer {
    width: 100%;
    padding: 15px 50px;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
}

footer a {
    text-decoration: none;
    color: cyan;
}

footer .social-media a {
    color: white;
}